* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #080808;
    color: #FFFFFF;
    font-family: 'Space Mono', monospace;
    padding-top: 55px;
}

html, body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(214, 112, 129);
    border-radius: 99px;
}

header {
    background-color: transparent;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background: black;
    color: white;
}

#logo {
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 1rem;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#logo:hover {
    transform: scale(1.1);
}

.nav-link {
    color: #FFFFFF;
    font-size: 1.3rem;
    margin-left: 2rem;
    position: relative;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(220, 81, 104);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(214, 112, 129);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav .nav-link {
    margin: 0 30px;
}

span {
    color: rgb(214, 112, 129);
}

.typing-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid rgb(214, 112, 129);
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(214, 112, 129);
    }
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5rem 0;
    background: url(./images/blackpixel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.3;
    overflow: hidden;
}

#landing-text h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
}

#landing-img img {
    width: 100%;
    max-width: 85%;
    border-radius: 50%;
    height: auto;
}

#projects {
    min-height: 65vh;
    margin-top: 3rem;
}

#projects h2, .card-title {
    color: rgb(214, 112, 129);
    font-weight: 600;
}

.card {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: scale(1.1);
}

#tools {
    margin-top: 2rem;
    min-height: 45vh;
}

#tools h2 {
    color: rgb(214, 112, 129);
}

#tools h2, #tools h5 {
    font-weight: 600;
}

.tools-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding-bottom: 5rem;
}

.tools-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.card-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#contact h2 {
    color: rgb(214, 112, 129);
    font-weight: 600;
}

.contact-imgs {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.contact-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.contact-img:hover {
    transform: scale(1.2)
}

.contact-img a {
    text-decoration: none;
}

#contact {
    padding: 3rem;
    min-height: 25vh;
}

.google-map {
    height: 100%;
    overflow: hidden;
    min-height: 400px;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.message-form {
    max-width: 100%;
    padding: 0 5rem;
}

.message-form .form-label {
    color: white;
}

.message-form .form-control {
    background-color: #495057;
    border: 1px solid #6c757d;
    color: rgb(214, 112, 129);
}

.message-form .form-control:focus {
    border-color: rgb(214, 112, 129);
    box-shadow: 0 0 0 0.2rem rgba(244, 96, 170, 0.25);
}

.btn {
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(214, 112, 129);
}

footer {
    background-color: gray;
    color: white;
}

footer .text-center small {
    color: #adb5bd;
}

footer h2 {
    color: rgb(214, 112, 129);
    font-weight: 600;
}